<% content_for(:title) { 'Create an account' } %>
<% content_for(:subtitle) { '' } %>

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a href="#" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><%= image_tag 'icons/common/github.svg' %></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><%= image_tag 'icons/common/google.svg' %></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign up with credentials</small>
          </div>
           <%= form_for:user, url: users_path do |f| %>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3">Username</i></span>
                </div>
                <%= f.text_field :name %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email</i></span>
                </div>
                <%= f.text_field :email %>
              </div>
            </div>
              <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ">Image URL</i></span>
                </div>
                <%= f.text_field :image %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">   
                  <span class="input-group-text"><i class="ni ni-lock-circle-open">Password</i></span>
                </div>
                <%= f.password_field :password %>
              </div>
            </div> <p>
You can choose one or more levels to be a part of</p>
      
      <p>

            <div class="form-group " style="align-items: center;">

            <div class="field" style="float:left">
                  <%= f.label "First Form Math" %> 
                  <%= f.check_box :firstformmath %> <br />
                <%= f.label "Second Form Math" %> 
                  <%= f.check_box :secondformmath %><br />
                  <%= f.label "Third Form Math" %> 
                  <%= f.check_box :thirdformmath %> <br />
                  <%= f.label "Fourth Form Math" %> 
                    <%= f.check_box :fourthformmath %> <br />
                   <%= f.label "Tertiary Math" %> 
                  <%= f.check_box :tertiarymath %> <br />
            </div>
             <div class="field" style="float:right">
                  <%= f.label "First Form IT" %> 
                  <%= f.check_box :firstformit %> <br />
                  <%= f.label "Second Form IT" %> 
                  <%= f.check_box :secondformit %> <br />
                   <%= f.label "Third Form IT" %> 
                  <%= f.check_box :thirdformit %> <br />
                  <%= f.label "Fourth Form IT" %> 
                   <%= f.check_box :fourthformit %> <br />
                  <%= f.label "Tertiary IT" %> 
                  <%= f.check_box :tertiaryit %> <br />

            </div>
            <br>

           
        
          </div>
</p>

            <br><br><br><br><br>
            <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                  </label>
                </div>
              </div>
            </div>
           <div class="text-center">
              <%= f.submit "Register", class: "btn btn-large btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
